*{box-sizing: border-box;margin:0%;padding: 0%;}
html{
    font-size: 6.25%;
}







/*
https://cdn-icons-png.flaticon.com/512/2111/2111425.png  Github
https://cdn-icons-png.flaticon.com/512/3938/3938060.png Linkedin
*/ 