/* Google fonts
font-family: 'Berkshire Swash', cursive;
font-family: 'Chakra Petch', sans-serif;
font-family: 'DynaPuff', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Iso', cursive;
*/
:root{
    --gbcTime: 15s;
    --bitcoin-orange:#F7731A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
}
*{box-sizing: border-box;margin:0%;padding: 0%;}
html{
    font-size: 6.25%;
}
body{
    height: 100vh;
    /* Animated gradient on background color */
    background: linear-gradient(197deg, #0ecf6f, #42e1cb, #ac09d0);
    background-size: 100% 300%;
    -webkit-animation: AnimationName var(--gbcTime) ease infinite;
    -moz-animation: AnimationName var(--gbcTime) ease infinite;
    -o-animation: AnimationName var(--gbcTime) ease infinite;
    animation: AnimationName var(--gbcTime) ease infinite;
}
.title-icon{
    background-image: url("https://cdn-icons-png.flaticon.com/512/1862/1862933.png");
    height: 10px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Press Start 2P', cursive, sans-serif;
    line-height: 30px;
    padding: 15px;
    text-shadow: 1px 1px 1px black;
}
header h1{
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    color: white;
}
header p{
    font-size: 10px;
    text-align: center;
    font-weight: 400;
    color: white;
}
.Scores{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    width: 80%;
    font-size: 15px;
    text-align: center;
    border: 1px double grey;
    border-radius: 10px;
    margin: 8% auto 8%;
    padding: 5rem 0%;
    max-width: 400px;
}
.Scores h3 {
    font-family: "Chakra Petch", sans-serif;
    text-shadow: 1px 1px 1px black;
    color: grey;
}
.Scores p {
    font-family: "Chakra Petch", sans-serif;
    text-shadow: 1px 1px 1px white;
    color: black;
}
.Scores__Bot,.Scores__Player{
    grid-row: 1;
}
.Scores__Results{
    width: 100%;
    grid-row: 2;
    grid-column: 1/span2;
    /* background-color: #874def;  */
    justify-self: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    /* display: none; */
}
.Scores__Results div{
    background-color: rgb(32, 32, 32);
    border: 2px solid gray;
    height: 50px; width: 50px;
    border-radius: 25%;
    justify-self: center;
    align-self: center;
    background-repeat: no-repeat;
    background-size: 60% ;
    background-position: center;
    /* display: none; */
}
.Scores__Results--Player {
    background-image: url("https://i.postimg.cc/DZwcY8Y2/Rock.png");
}
.Scores__Results--Bot {
    background-image: url("https://i.postimg.cc/zXTLCKGQ/Rock-Bot.png");
}
.Scores__Results--Player{
    grid-row: 1;
    grid-column: 1;
}
.Scores__Results--Bot{
    grid-row: 1;
    grid-column: 2;
}
.Scores__Results p{
    grid-row: 2;
    grid-column: 1/span2;
}
.Buttons{
    margin: 20% auto 0%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto ;
    grid-template-areas: 
        " Pl Pl Pl"
        " R  Pp S ";
    max-width: 500px;
    gap: 50px 0px;
}
.Buttons div{
    background-color: #E7F5FF;
    border: 2px solid gray;
    height: 70px; width: 70px;
    border-radius: 25%;
    justify-self: center;
    align-self: center;
    background-repeat: no-repeat;
    background-size: 80% ;
    background-position: center;
}
.Buttons *:hover{
    transform: scale(1.15);
    border-color: #ac09d0;
    border-width: 3px;
}
/* Tooggle when any button is clicked or unclicked */
.Buttons--active{
    transform: scale(1.15);
    border-color: #ac09d0;
    border-width: 3px;
}
div.Buttons__Play{
    grid-area: Pl;
    height: auto;
    width: auto;
    display: grid;
    border-radius: 12px;
    padding: 0px 10px;
    place-items: center;
    font-family: "Chakra Petch", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 25px;
    background: linear-gradient(335deg, #3ad4da, #874def);
    background-size: 400% 400%;
    -webkit-animation: AnimationNamePB 4s ease infinite;
    -moz-animation: AnimationNamePB 4s ease infinite;
    -o-animation: AnimationNamePB 4s ease infinite;
    animation: AnimationNamePB 4s ease infinite;
}
.Buttons div button{
    width: 100%; height: 100%;
    background:none;
    border: none;
    border-radius: 25%;
}
.Buttons .Buttons__Rock{
    grid-area: R;
    background-image: url("https://i.postimg.cc/DZwcY8Y2/Rock.png");
    background-size: 65%;
}
.Buttons .Buttons__Paper{
    grid-area: Pp;
    background-image: url("https://i.postimg.cc/4ytwpjSt/paper.png");
    background-size: 65%;
}
.Buttons .Buttons__Scissors{
    grid-area: S;
    background-image: url("https://i.postimg.cc/Ss1G0kwc/Scissors.png");
    background-size: 60%;
}
footer{
    position: absolute;
    width: 95%;
    left: 2.5%;
    bottom: 4px;
    font-family: "Chakra Petch", sans-serif, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #31a2b9;
    border-radius: 5px;
}
footer section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
}
.Icons__GH{
    display: inline-block;
    background-image: url('https://cdn-icons-png.flaticon.com/512/2111/2111425.png');
    width: 20px; height: 20px;
    background-size: contain; 
    background-repeat: no-repeat;
}
.Icons__LI{
    display: inline-block;
    background-image: url('https://cdn-icons-png.flaticon.com/512/3938/3938060.png');
    width: 20px; height: 20px;
    background-size: contain; 
    background-repeat: no-repeat;
}


/* Gradiente Keyframes */
@-webkit-keyframes AnimationName {
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
}
@keyframes AnimationName {
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
}
@-webkit-keyframes AnimationNamePB {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@-moz-keyframes AnimationNamePB {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@-o-keyframes AnimationNamePB {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
@keyframes AnimationNamePB {
    0%{background-position:91% 0%}
    50%{background-position:10% 100%}
    100%{background-position:91% 0%}
}
/* Gradiente Keyframes end */

/* Medium Phone */
@media (min-width:500px) {  
    header h1{
        font-size: 28px;
        line-height: 34px;
    }
    header p{
        font-size: 12px;
    }
    .Buttons{
        margin-top: 0%;
        width: 70%;
        display: grid;
        justify-content: center;
        align-items: end;
        justify-items: center;
        gap: 2.5vh;
        grid-template-columns: 80%;
        grid-template-rows: auto auto auto auto ;
        grid-template-areas: 
            "Pl"
            "R "
            "Pp"
            "S ";
    }
    .Buttons div{
        width: 13.8vh; 
        height: 13.8vh;
    }
    div.Buttons__Play{
        height: auto;
        margin: 0 0 1%;
    }
    .Scores{
        font-size: 18px;
        margin: 2% auto 6%;
    }
    .Scores__Results div{
        height: 90px; width: 90px;
    }
}
/* Tablet */
@media (min-width:750px) {
    header h1{
        font-size: 55px    ;
        line-height: 130%;
    }
    header p{
        font-size: 30px    ;
    }
    .Scores{
        font-size: 40px;
        max-width: 700px;
        margin: 6vh auto 5vh;
    }
    .Scores__Results div{
         width: 170px;
         height: 170px;
    }
    footer {
        display: flex;
        flex-direction: row;
    }
    footer section{
        font-size: 12px;
        padding: 10px 10px;
    }
    .Buttons{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto auto ;
        grid-template-areas: 
            " Pl Pl Pl"
            " R  Pp S ";
        max-width: 700px;
    }
    .Buttons div{
        height: 200px; width: 200px;
    }
    div.Buttons__Play{
        font-size: 40px;
        height: auto;
        margin: 0 0 0%;  
    } 
}
/* Laptod */
@media (min-width:1100px) {
    .Scores{
        font-size: 40px;
        max-width: 700px;
        margin: 1vh auto 5vh;
    }
    .Scores__Results div{
         width: 160px;
         height: 160px;
    }
    .Buttons div{
        height: 190px; width: 190px;
    } 
    div.Buttons__Play{
        font-size: 40px;
        height: auto;
        margin: 0 0 0%;  
    } 
}
/* Desktop */


    